<!DOCTYPE html>
<html>
<head>
    <title>Info</title>
</head>
<body>
    <h2>Welcome, {{ username }}!</h2>


    <form method="post" action="{{ url_for('info') }}">
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required><br>
        <label for="value">Value:</label>
        <input type="text" id="value" name="value" required><br>
        <label for="expiry_date">Expiry Date (optional):</label>
        <input type="datetime-local" id="expiry_date" name="expiry_date"><br>
        <input type="submit" value="Add Cookie">
    </form>


    <table border="1">
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Creation Time</th>
            <th>Expiry Time</th>
            <th>Actions</th> <!-- Додано колонку для дій -->
        </tr>
        {% for cookie in cookies_data %}
            <tr>
                <td>{{ cookie.key }}</td>
                <td>{{ cookie.value }}</td>
                <td>{{ cookie.creation_time }}</td>
                <td>{{ cookie.expiry_time }}</td>
                <!-- Додано кнопку для видалення кукі за ключем -->
                <td>
                    <form method="get" action="{{ url_for('info') }}">
                        <input type="hidden" name="delete_key" value="{{ cookie.key }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>


    <form method="get" action="{{ url_for('logout') }}">
        <input type="submit" value="Вийти">
    </form>
</body>
</html>

