{% extends "base.html" %}
{% block title %} Info {% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h2 class="text-center mb-4">Інформація</h2>
            {% if session['username'] %}
                <p class="lead text-center">Привіт, {{ session['username'] }}!<br>Ви успішно авторизувалися.</p>
            {% else %}
                <p class="lead text-center">Доступ заборонено. Будь ласка, <a href="{{ url_for('login') }}">увійдіть</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
