{% extends 'base.html' %}

{% block title %}Сторінка 2{% endblock %}

{% block body %}
<div class="container">
    <h2>Page 2</h2>
    <p class="biography">Я відданий прихильник спорту, особливо футболу, боксу, турніків та різних інших видів фізичної активності.</p>
    <table class="bio-table">
    <tr>
        <th>Рік</th>
        <th>Турнір</th>
        <th>Досягнення</th>
    </tr>
    <tr>
        <td>2006</td>
        <td>ЧС 2006</td>
        <td>Квартальник (чвертьфінал)</td>
    </tr>
    <tr>
        <td>2010</td>
        <td>ЧС 2010</td>
        <td>Груповий етап</td>
    </tr>
    <tr>
        <td>2014</td>
        <td>ЧС 2014</td>
        <td>Груповий етап</td>
    </tr>
    <tr>
        <td>2018</td>
        <td>ЧС 2018</td>
        <td>Чвертьфінал</td>
    </tr>
    <tr>
        <td>2022</td>
        <td>ЧС 2022</td>
        <td>Чвертьфінал</td>
    </tr>
    </table>
    <img src="/static/images/image2.jpg" alt="Зображення 2"><br><br>
    <h4><a href="{{ url_for('portfolio.about') }}">Повернутися до біографії</a></h4>
</div>
{% endblock %}

