{% extends 'base.html' %}

{% block title %}Сторінка 1{% endblock %}

{% block body %}
<div class="container">
    <h2>Сторінка 1</h2>
    <p class="biography">Привіт! Я Роман Прунько, з с.Крилос, мені 18 років, закінчив Крилоський ліцей у 2021 році і поступив в Прикарпатський Національний університет ім.Василя Стефаника.</p>
    <table class="bio-table">
    <tr>
        <th>Дата народження</th>
        <th>Рік</th>
    </tr>
    <tr>
        <td>24 листопада</td>
        <td>2004</td>
    </tr>
    </table>
    <img src="/static/images/image1.jpg" alt="Зображення 1"><br><br>
    <h4><a href="{{ url_for('portfolio.about') }}">Повернутися до біографії</a></h4>
</div>
{% endblock %}
