{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}
{{ super() }}
    <div class="container">
        <div class="imgh">
            <img class="home-image" src="/static/images/image4.png" alt="Flask Image">
            <p class="flask-description">Flask microframework for web applications. It is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.</p>
        </div>
    </div>
{% endblock %}
