{% extends 'base.html' %}

{% block title %}Сторінка 3{% endblock %}

{% block body %}
<div class="container">
    <h2>Сторінка 3</h2>
    <p class="biography">Зараз являюся студентом Прикарпатського Національного університету ім. Василя Стефаника, навчаюсь на факультеті математики та інформатики на спеціальності: інженерія програмного забезпечення.</p>
    <img src="/static/images/image3.jpg" alt="Зображення 3"><br><br>
    <h4><a href="{{ url_for('about') }}">Повернутися до біографії</a></h4>
</div>
{% endblock %}
